<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ .Campaign.Name }}</h5>
            </div>
            <div class="modal-body">
                {{ if .Error }}
                <p class="text-danger">{{ .Error }}</p>
                {{ end }}

                <table class="table table-striped">
                    <tr>
                        <td>GOAL</td>
                        <td><span id="cGoal" class="badge bg-primary">{{ .Campaign.Goal }} {{ .Campaign.Currency }}</span></td>
                    </tr>
                    <tr>
                        <td>AWAY FROM GOAL</td>
                        <td><span id="cAwayGoal" class="badge bg-primary">{{ .Campaign.AwayFromGoal }} {{ .Campaign.Currency }}</span></td>
                    </tr>
                    <tr>
                        <td>PLEDGES</td>
                        <td><span id="cPledges" class="badge bg-primary">{{ .Campaign.Pledges }}</span></td>
                    </tr>
                    <tr>
                        <td>DONORS</td>
                        <td><span id="cDonors" class="badge bg-primary">{{ .Campaign.Donors }}</span></td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td><span id="cTotal" class="badge bg-primary">{{ .Campaign.TotPledgeAmount }}</span></td>
                    </tr>
                    <tr>
                        <td>REMAINING TIME</td>
                        <td>2 Hours</td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">close</button>
            </div>
        </div>
    </div>
</div>
<script>
    (async () => {
    console.log(`campaign.html - onLoad ${Date.now()}`)
    let connected = false;
    const realtime = new Ably.Realtime({ 
        authUrl: "/realtime-auth",
        authMethod: "POST"
    });

    // Get reference to elements that need to be updated
    const goal = document.getElementById("cGoal")
    const awayGoal = document.getElementById("cAwayGoal")
    const pledges = document.getElementById("cPledges")
    const donors = document.getElementById("cDonors")
    const total = document.getElementById("cTotal")

    // TODO: Watch realtime events to maintain `connected`
    let channelName = "campaign-" + "{{ .Campaign.ID }}";
    console.log(channelName)
    const channel = realtime.channels.get(channelName);
    connected = true;
    await  channel.subscribe((message) => {
        console.log('Received: ' + message.data)
        console.log('Received campaign name: ' + message.data.name)
        console.log('Received campaign.pledges: ' + message.data.pledges)
        goal.innerText = `${message.data.goal} ${message.data.currency}`;
        awayGoal.innerText = `${message.data.awayFromGoal} ${message.data.currency}`;
        pledges.innerText = message.data.pledges;
        donors.innerText = message.data.donors;
        total.innerText = `${message.data.totPledgeAmount} ${message.data.currency}`;
    });

    // TODO: Would like to disconnect the realtime client
    // https://dev.to/chromiumdev/sure-you-want-to-leavebrowser-beforeunload-event-4eg5 
    window.addEventListener('beforeunload', (event) => {
        if (connected && realtime) {
            realtime.close()
        } 
        //event.returnValue = `Are you sure you want to leave?`;
    });
    })()
</script>